.car-text {
    color: black;
    font-size: xx-large;

}

#mail {
    padding-left: 10%;
    padding-right: 10%;

}

.card {
    margin-bottom: 20px;
}

#carouselExampleCaptions {

    padding: 5%;
}

p.highlighted {
    font-size: 40px;

}

