.car-text {
    color: black;
    font-size: xx-large;

}

#mail {
    padding-left: 10%;
    padding-right: 10%;

}

.card {
    margin-bottom: 20px;
}

#carouselExampleCaptions {

    padding: 5%;
}

p.highlighted {
    font-size: 40px;

}

.fische {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.fish-description {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: 40px;
    margin-top: 40px;

}

.fish-descriptionTwo {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: 40px;
    margin-top: 40px;

}

.fish-descriptionTwo img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.fish-description img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.fish-descriptionTwo img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.fish-description h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.fish-descriptionTwo h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.fish-description p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.fish-descriptionTwo p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.fish-description ul {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}

.fish-descriptionTwo ul {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 100px;
    list-style: none;
    padding-left: 0;
}



@media (max-width: 500px) {
    .features .container {
        grid-template-columns: 1fr;
    }
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
}